body{
	background-color: lightyellow;

	border-style: dashed;

	border-color: red;

	border-width: 20px;

	margin: 0px;

}

div {
	padding-bottom: 100px;
	padding-left:20px;
	margin: 10px;
	font-weight: bold;
} 


